/**
 * Bracket Styling
 */
/* Colors */
/* Theme */
/* Validation */
/* Type */
/* grid */
.g1 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 8.33333%; }
  .g1:last-child {
    margin-right: 0; }

.g2 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 16.66667%; }
  .g2:last-child {
    margin-right: 0; }

.g3 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 25%; }
  .g3:last-child {
    margin-right: 0; }

.g4 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 33.33333%; }
  .g4:last-child {
    margin-right: 0; }

.g5 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 33.33333%; }
  .g5:last-child {
    margin-right: 0; }

.g6 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 50%; }
  .g6:last-child {
    margin-right: 0; }

.g7 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 58.33333%; }
  .g7:last-child {
    margin-right: 0; }

.g8 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 66.66667%; }
  .g8:last-child {
    margin-right: 0; }

.g9 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 75%; }
  .g9:last-child {
    margin-right: 0; }

.g10 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 83.33333%; }
  .g10:last-child {
    margin-right: 0; }

.g11 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 91.66667%; }
  .g11:last-child {
    margin-right: 0; }

.g12 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 100%; }
  .g12:last-child {
    margin-right: 0; }

.gfull {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 100%; }
  .gfull:last-child {
    margin-right: 0; }

/* REsets from bootstrap */
/* base */
html,
body {
  background: #f9f9f9;
  color: #333333;
  padding: 0;
  margin: 0;
  font-family: "Helvatica Neue", Helvetica, Arial, sans-serif;
  zoom: 100%; }

/* BASIC RESETS */
* {
  box-sizing: border-box; }

a {
  color: #288a5b;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none;
    margin: 0;
    padding: 0; }

.main-container {
  -webkit-transition: opacity 160ms ease-in-out;
  transition: opacity 160ms ease-in-out;
  opacity: 1; }
  .main-container.invisible {
    opacity: 0; }

.warp {
  height: 100vh;
  padding-top: 62px; }

/**
 * Input Reset Styling
 */
input {
  display: block;
  width: 100%;
  padding: 15px 12px;
  font-size: 21px;
  line-height: 23px;
  color: #1e2222;
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  border: 1px solid #a8afb0;
  border-radius: 2px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border 160ms ease-in-out;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border 160ms ease-in-out; }
  input:focus {
    outline: 0; }
  input[type=color] {
    height: 60px;
    border: 0;
    outline: 0;
    padding: 0;
    position: relative; }
    input[type=color]:after {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -10px 0 0 -66px;
      content: "Choose Color";
      font-size: 16px;
      color: #F9F9F9;
      text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
      text-transform: uppercase; }

.error input {
  border-color: red; }

.valid input {
  border-color: green; }

/**
 * Button Styling
 */
.btn {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 0 0;
  display: block;
  padding: 15px 12px;
  margin-bottom: 0;
  width: 100%;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: 0;
  position: relative; }
  .btn:active,
  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0; }
  .btn.btn-fixed-bottom {
    position: fixed;
    bottom: 0;
    margin: 0 0 0 -10px;
    border-radius: 0;
    z-index: 99999; }
  .btn.btn-default {
    color: #f9f9f9;
    background-color: #2FAB70;
    border-color: #2FAB70; }
    .btn.btn-default:hover {
      outline: 0;
      color: #f9f9f9;
      background-color: #2a9763;
      border-color: #248356; }
  .btn.btn-outline {
    color: #1e2222;
    background: transparent;
    border-color: #2FAB70; }
    .btn.btn-outline:hover {
      outline: 0;
      color: #0b0d0d;
      background-color: #2a9763;
      border-color: #248356; }
  .btn.btn-tabs {
    color: #7f8687;
    border-bottom: 2px solid transparent; }
    .btn.btn-tabs.btn-active {
      border-bottom: 2px solid #288a5b;
      color: #288a5b; }

/**
 * btn-group Styling
 */
.btn-group {
  display: flex; }
  .btn-group .btn {
    flex: 1; }

/* Elements */
/* navigation */
header {
  position: fixed;
  width: 100%;
  height: 62px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 9999999; }
  header .navbar {
    background: #2FAB70;
    color: #FFFFFF;
    height: 64px;
    margin: 0; }
  header .profile {
    position: absolute;
    left: 20px;
    top: 13px;
    opacity: 0;
    -webkit-transition: opacity 220ms ease-in-out;
    transition: opacity 220ms ease-in-out; }
    header .profile .avatar {
      width: 40px;
      height: 40px;
      line-height: 40px; }
    header .profile.show {
      opacity: 1; }
  header .logo {
    display: block;
    width: 28px;
    margin: 20px auto 0;
    font-size: 26px;
    font-weight: 100; }
  header .nav-action {
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 0;
    -webkit-transition: opacity 220ms ease-in-out;
    transition: opacity 220ms ease-in-out; }
    header .nav-action.show {
      opacity: 1; }
    header .nav-action .btn-action {
      color: #f4f4f4;
      line-height: 50px;
      padding: 2px 7px 4px;
      font-size: 24px;
      font-weight: 100; }

/* notifier */
.notify {
  background: #2FAB70;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: -200px;
  left: 0;
  right: 0;
  font: normal 21px/24px Helvetica, Arial, sans-serif;
  z-index: 99999999;
  -webkit-transition: top 240ms ease-in-out;
  transition: top 240ms ease-in-out; }
  .notify .notify-title {
    margin: 0;
    padding: 20px 10px;
    text-align: center; }
  .notify.active {
    top: 0; }
  .notify.info {
    background: #008FD8; }
  .notify.success {
    background: #2FAB70; }
  .notify.warning {
    background: #D9AB29; }
  .notify.error {
    background: #B03330; }

/* Overlay */
.overlay {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999;
  overflow: hidden; }
  .overlay.visible {
    width: 100vw;
    height: 100vh; }
  .overlay.active .overlay-bold {
    -webkit-transform: translate3d(-550px, 0, 0) rotate(-65deg); }
  .overlay.active .overlay-lite {
    -webkit-transform: translate3d(-550px, 0, 0) rotate(-65deg); }
  .overlay .overlay-bold,
  .overlay .overlay-lite {
    width: 250vh;
    height: 300vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .overlay .overlay-bold {
    background-image: repeating-linear-gradient(0deg, #33bb7a, #33bb7a 72px, transparent 72px, transparent 140px);
    -webkit-transform: translate3d(-970px, 900px, 0) rotate(-65deg);
    transform: translate3d(-970px, 900px, 0) rotate(-65deg); }
  .overlay .overlay-lite {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 68px, #288a5b 68px, #288a5b 140px);
    -webkit-transform: translate3d(-14px, -1150px, 0) rotate(-65deg);
    transform: translate3d(-14px, -1150px, 0) rotate(-65deg); }

/**
 * Avatar Styling
 */
.avatar {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  font-weight: 100;
  padding: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  flex: 1;
  position: relative;
  z-index: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }

/**
 * Setup Intro Styling
 */
.player {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px; }
  .player .player-meta {
    flex: 5;
    position: relative;
    height: 50px; }
  .player:nth-child(odd) {
    background: #f9f9f9; }

.player-meta .player-name,
.player-meta .player-email {
  width: auto;
  display: block;
  margin: 0;
  padding: 3px 0 0 20px; }

.player-meta .player-name {
  font-size: 16px;
  padding-top: 7px; }

.player-meta .player-email {
  font-size: 11px; }

.player-action {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px 4px 4px;
  padding: 7px 10px 4px;
  width: auto; }
  .player-action .glyphicon {
    opacity: 0.1; }
  .player-action.active {
    border-color: #2FAB70;
    background: #2FAB70;
    box-shadow: 0 0 0; }
    .player-action.active .glyphicon {
      opacity: 0.4; }
  .player-action.admin {
    display: none; }

/**
 * Create Championship Styling
 */
.create-championship {
  width: 100%;
  margin: 5px auto 0; }
  .create-championship .row {
    display: none; }
  .create-championship h3 {
    text-align: center;
    margin: 0 0 25px; }
  .create-championship .create-players {
    margin-top: 20px; }
  .create-championship .create-title {
    font-size: 18px;
    padding: 12px;
    width: 100%;
    display: block; }
  .create-championship .show {
    display: block; }

/* Modules */
/* Pages */
/* Login Sign Up */
.ls-tabs {
  margin: 10px 0; }

.ls-section {
  display: none; }
  .ls-section.ls-active {
    display: block; }

/**
 * Profile Styling
 */
.profile .profile-meta {
  text-align: center; }

.profile-meta h3 {
  margin: 20px 0 0;
  font-size: 36px;
  font-weight: 100; }

.profile-meta span {
  font-size: 12px; }

.stats-row {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin: 20px 0 0; }
  .stats-row .stats-score {
    flex: 1; }

.stats-score {
  color: #f9f9f9;
  position: relative;
  text-align: center;
  height: 28vw;
  margin: 0 5px; }
  .stats-score:before {
    background: #2FAB70;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    margin: 0 0 0 -50%;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .stats-score.loss:before {
    background: #D9AB29; }
  .stats-score.tie:before {
    background: #008FD8; }
  .stats-score .score-num {
    display: block;
    font-size: 40px;
    font-weight: 100;
    line-height: 40px;
    margin: 20px 0 0;
    position: relative;
    z-index: 9; }
  .stats-score .score-title {
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
    opacity: 0.7; }

.matches h3 {
  margin: 0;
  line-height: 24px; }

.matches .btn-create {
  margin: 25px 0 0;
  padding: 10px 0;
  border-color: #2FAB70;
  color: #2FAB70; }

.profile-matches {
  margin: 20px 0; }
  .profile-matches .match-item {
    border-bottom: 1px solid #dfdfdf;
    border-left: 5px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
    position: relative; }
    .profile-matches .match-item:first-child {
      border-top: 1px solid #dfdfdf; }
    .profile-matches .match-item:nth-child(odd) {
      background: rgba(0, 0, 0, 0.02); }
    .profile-matches .match-item.active {
      border-left-color: #008FD8; }
    .profile-matches .match-item .m-title {
      font-size: 18px; }
    .profile-matches .match-item .m-subtitle {
      font-size: 12px;
      /* opacity: 0.6; */ }
    .profile-matches .match-item .glyphicon {
      color: #0b0d0d;
      position: absolute;
      right: 15px;
      top: 20px;
      font-size: 21px;
      opacity: 0.2; }

/**
 * Scoreboard Styling
 */
.score-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 10; }
  .score-panel .panel-item {
    color: #f9f9f9;
    flex: 1;
    width: 50vw;
    height: calc(100vh - 112px);
    /* subtract header and footer heights from total height  */
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
    .score-panel .panel-item .score-total {
      margin: 20vh 0 10px;
      font-size: 75px;
      font-weight: 700; }
    .score-panel .panel-item .score-user {
      font-size: 18px;
      font-weight: 100; }

.score-actions {
  position: fixed;
  bottom: 50px;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 30; }
  .score-actions button.btn-score {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0;
    color: #f9f9f9;
    font-size: 50px;
    font-weight: 100;
    line-height: 50px;
    padding-top: 2px;
    flex: 1;
    width: 50vw; }

.scoreboard-footer {
  background: #dfdfdf;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 10px;
  font-size: 22px;
  z-index: 50; }
  .scoreboard-footer .btn-rematch {
    border: 1px solid #7f8687;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 8px;
    font-size: 12px;
    width: auto; }

/**
 * Game Styling
 */
.game-container {
  width: 420px;
  display: flex;
  flex-direction: row;
  padding: 0 10px; }
  .game-container.editing {
    padding-left: 130px;
    padding-bottom: 82px; }

.game {
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0; }

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  list-style: none;
  padding: 0; }
  .round .spacer {
    flex-grow: 1; }
    .round .spacer:first-child,
    .round .spacer:last-child {
      flex-grow: .5; }
  .round .game-spacer {
    flex-grow: 1; }

.match {
  border: 1px solid #dfdfdf;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 5px;
  margin: 0 0 0 20px;
  /* modification for inactive/unfilled avatars */ }
  .match .match-tag {
    background: #dfdfdf;
    border-radius: 10px 0 0 10px;
    color: #FFFFFF;
    position: absolute;
    width: 20px;
    left: -21px;
    top: -1px;
    bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .match .match-tag span {
      padding: 0 6px; }
  .match .match-player {
    margin: 5px auto; }
    .match .match-player .avatar {
      min-height: 50px; }
  .match .empty {
    border: 2px dashed #373e3e; }
    .match .empty.focussed {
      background: #a8afb0; }
  .match.active {
    border-color: #288a5b; }
    .match.active .match-tag {
      background: #288a5b; }

.round-spacers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  list-style: none;
  padding: 0; }
  .round-spacers .line-spacer {
    flex-grow: 1; }
    .round-spacers .line-spacer:first-child,
    .round-spacers .line-spacer:last-child {
      flex-grow: .5; }
    .round-spacers .line-spacer:nth-child(even) {
      border: 1px solid #dfdfdf;
      border-left: 0px;
      width: 52%;
      position: relative; }
      .round-spacers .line-spacer:nth-child(even):after {
        position: absolute;
        content: "";
        border-top: 1px solid #dfdfdf;
        width: 100%;
        top: 50%;
        right: -100%; }

/**
 * Game Styling
 */
.game-editor {
  position: fixed;
  width: 100%;
  z-index: 999; }

.edit-players {
  background: #dfdfdf;
  display: flex;
  flex-direction: column;
  padding: 13px 20px;
  position: fixed;
  left: 0;
  top: 62px;
  bottom: 62px; }
  .edit-players .game-player {
    margin: 7px auto;
    -webkit-transition: transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out; }
    .edit-players .game-player.dragging {
      -webkit-transform: scale(1.5);
      transform: scale(1.5); }

.randomize {
  background: transparent;
  border-color: #373e3e;
  color: #373e3e;
  line-height: 56px; }

/* Responsive */
/* responsive */
/* Mobile */
@media (max-width: 768px) {
  header {
    margin: 0; }
  .menu li {
    padding: 0 2px;
    box-sizing: border-box; }
    .menu li a {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 4px 4px 0 0;
      padding: 5px 0;
      font-size: 14px;
      line-height: 18px;
      opacity: 0.7; }
    .menu li:hover a,
    .menu li.active a {
      background: transparent;
      opacity: 1; }
  section {
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
    height: 100vh; }
  .overwrap {
    width: 400%; } }
