/**
 * Bracket Styling
 */
@import "config/_colors";
@import "config/_type";
@import "config/_grid";

/* REsets from bootstrap */
@import "pages/_base";
@import "elements/_inputs";
@import "elements/_buttons";
@import "elements/_button_groups";
/* Elements */
@import "elements/_header";
@import "elements/_notifier";
@import "elements/_overlay";
@import "elements/_avatar";
@import "elements/_player";
@import "elements/_create_championship";

/* Modules */

/* Pages */
@import "pages/_login_signup";
@import "pages/_profile";
@import "pages/_scoreboard";
@import "pages/_game";

/* Responsive */
@import "pages/_responsive";
