/**
 * Bracket Styling
 */
/* Colors */
/* Theme */
/* Validation */
/* Type */
/* grid */
.g1 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 8.33333%; }
  .g1:last-child {
    margin-right: 0; }

.g2 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 16.66667%; }
  .g2:last-child {
    margin-right: 0; }

.g3 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 25%; }
  .g3:last-child {
    margin-right: 0; }

.g4 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 33.33333%; }
  .g4:last-child {
    margin-right: 0; }

.g5 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 33.33333%; }
  .g5:last-child {
    margin-right: 0; }

.g6 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 50%; }
  .g6:last-child {
    margin-right: 0; }

.g7 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 58.33333%; }
  .g7:last-child {
    margin-right: 0; }

.g8 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 66.66667%; }
  .g8:last-child {
    margin-right: 0; }

.g9 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 75%; }
  .g9:last-child {
    margin-right: 0; }

.g10 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 83.33333%; }
  .g10:last-child {
    margin-right: 0; }

.g11 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 91.66667%; }
  .g11:last-child {
    margin-right: 0; }

.g12 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 100%; }
  .g12:last-child {
    margin-right: 0; }

.gfull {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 100%; }
  .gfull:last-child {
    margin-right: 0; }

/* REsets from bootstrap */
/* base */
html,
body {
  background: #f9f9f9;
  color: #333333;
  padding: 0;
  margin: 0;
  font-family: "Helvatica Neue", Helvetica, Arial, sans-serif;
  zoom: 100%; }

/* BASIC RESETS */
* {
  box-sizing: border-box; }

a {
  color: #288a5b;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none;
    margin: 0;
    padding: 0; }

.main-container {
  -webkit-transition: opacity 160ms ease-in-out;
  transition: opacity 160ms ease-in-out;
  opacity: 1; }
  .main-container.invisible {
    opacity: 0; }

.warp {
  height: 100vh;
  padding-top: 62px; }

/**
 * Input Reset Styling
 */
input {
  display: block;
  width: 100%;
  padding: 15px 12px;
  font-size: 21px;
  line-height: 23px;
  color: #1e2222;
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  border: 1px solid #a8afb0;
  border-radius: 2px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border 160ms ease-in-out;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border 160ms ease-in-out; }
  input:focus {
    outline: 0; }
  input[type=color] {
    height: 60px;
    border: 0;
    outline: 0;
    padding: 0;
    position: relative; }
    input[type=color]:after {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -10px 0 0 -66px;
      content: "Choose Color";
      font-size: 16px;
      color: #F9F9F9;
      text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
      text-transform: uppercase; }

.error input {
  border-color: red; }

.valid input {
  border-color: green; }

/**
 * Button Styling
 */
.btn {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 0;
  display: block;
  padding: 15px 12px;
  margin-bottom: 0;
  width: 100%;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: 0;
  position: relative; }
  .btn:active,
  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0; }
  .btn.btn-fixed-bottom {
    position: fixed;
    bottom: 0;
    margin: 0 0 0 -10px;
    border-radius: 0;
    z-index: 99999; }
  .btn:hover {
    /*     color: $grey01;
background-color: $main;
border-color: $darkmain; */ }
  .btn.btn-default {
    color: #f9f9f9;
    background-color: #2FAB70;
    border-color: #2FAB70; }
    .btn.btn-default:hover {
      outline: 0;
      color: #f9f9f9;
      background-color: #2a9763;
      border-color: #248356; }
  .btn.btn-tabs {
    color: #7f8687;
    border-bottom: 2px solid transparent; }
    .btn.btn-tabs.btn-active {
      border-bottom: 2px solid #288a5b;
      color: #288a5b; }

/**
 * btn-group Styling
 */
.btn-group {
  display: flex; }
  .btn-group .btn {
    flex: 1; }

/* Elements */
/* navigation */
header {
  position: fixed;
  width: 100%;
  height: 62px;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  z-index: 9999999; }
  header .navbar {
    background: #2FAB70;
    color: #FFFFFF;
    height: 64px;
    margin: 0; }
  header .profile {
    position: absolute;
    left: 20px;
    top: 13px;
    opacity: 0;
    -webkit-transition: opacity 220ms ease-in-out;
    transition: opacity 220ms ease-in-out; }
    header .profile .avatar {
      width: 40px;
      padding: 6px 0 4px; }
    header .profile.show {
      opacity: 1; }
  header .logo {
    display: block;
    width: 28px;
    margin: 20px auto 0;
    font-size: 26px;
    font-weight: 100; }
  header .nav-action {
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 0;
    -webkit-transition: opacity 220ms ease-in-out;
    transition: opacity 220ms ease-in-out; }
    header .nav-action.show {
      opacity: 1; }
    header .nav-action .btn-action {
      color: #f4f4f4;
      line-height: 50px;
      padding: 2px 7px 4px;
      font-size: 24px;
      font-weight: 100; }

/* notifier */
.notify {
  background: #2FAB70;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: -200px;
  left: 0;
  right: 0;
  font: normal 21px/24px Helvetica, Arial, sans-serif;
  z-index: 99999999;
  -webkit-transition: top 240ms ease-in-out;
  transition: top 240ms ease-in-out; }
  .notify .notify-title {
    margin: 0;
    padding: 20px 10px;
    text-align: center; }
  .notify.active {
    top: 0; }
  .notify.info {
    background: #008FD8; }
  .notify.success {
    background: #2FAB70; }
  .notify.warning {
    background: #D9AB29; }
  .notify.error {
    background: #B03330; }

/* Overlay */
.overlay {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999;
  overflow: hidden; }
  .overlay.visible {
    width: 100vw;
    height: 100vh; }
  .overlay.active .overlay-bold {
    -webkit-transform: translate3d(-550px, 0, 0) rotate(-65deg); }
  .overlay.active .overlay-lite {
    -webkit-transform: translate3d(-550px, 0, 0) rotate(-65deg); }
  .overlay .overlay-bold,
  .overlay .overlay-lite {
    width: 250vh;
    height: 300vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .overlay .overlay-bold {
    background-image: repeating-linear-gradient(0deg, #33bb7a, #33bb7a 72px, transparent 72px, transparent 140px);
    -webkit-transform: translate3d(-970px, 900px, 0) rotate(-65deg);
    transform: translate3d(-970px, 900px, 0) rotate(-65deg); }
  .overlay .overlay-lite {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 68px, #288a5b 68px, #288a5b 140px);
    -webkit-transform: translate3d(-14px, -1150px, 0) rotate(-65deg);
    transform: translate3d(-14px, -1150px, 0) rotate(-65deg); }

/**
 * Avatar Styling
 */
.avatar {
  background: #1472ad;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  font-weight: 100;
  padding: 10px 0 0;
  width: 55px;
  /* height: 56px; */
  flex: 1;
  position: relative;
  z-index: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }

/**
 * Setup Intro Styling
 */
.player {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px; }
  .player .player-meta {
    flex: 5;
    position: relative;
    height: 50px; }
  .player:nth-child(odd) {
    background: #f9f9f9; }

.player-meta .player-name,
.player-meta .player-email {
  width: auto;
  display: block;
  margin: 0;
  padding: 3px 0 0 20px; }

.player-meta .player-name {
  font-size: 16px;
  padding-top: 7px; }

.player-meta .player-email {
  font-size: 11px; }

.player-action {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px 4px 4px;
  padding: 7px 10px 4px;
  width: auto; }
  .player-action .glyphicon {
    opacity: 0.1; }
  .player-action.active {
    border-color: #2FAB70;
    background: #2FAB70;
    box-shadow: 0 0 0; }
    .player-action.active .glyphicon {
      opacity: 0.4; }
  .player-action.admin {
    display: none; }

/**
 * Create Championship Styling
 */
.create-championship {
  width: 100%;
  margin: 5px auto 0; }
  .create-championship .row {
    display: none; }
  .create-championship h3 {
    text-align: center;
    margin: 0 0 25px; }
  .create-championship .create-players {
    margin-top: 20px; }
  .create-championship .create-title {
    font-size: 18px;
    padding: 12px;
    width: 100%;
    display: block; }
  .create-championship .show {
    display: block; }

/* Modules */
/* Pages */
/* Login Sign Up */
.ls-tabs {
  margin: 10px 0; }

.ls-section {
  display: none; }
  .ls-section.ls-active {
    display: block; }

/**
 * Profile Styling
 */
.profile .profile-meta {
  text-align: center; }

.profile-meta h3 {
  margin: 20px 0 0;
  font-size: 36px;
  font-weight: 100; }

.profile-meta span {
  font-size: 12px; }

/* Responsive */
/* responsive */
/* Mobile */
@media (max-width: 768px) {
  header {
    margin: 0; }
  .menu li {
    padding: 0 2px;
    box-sizing: border-box; }
    .menu li a {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 4px 4px 0 0;
      padding: 5px 0;
      font-size: 14px;
      line-height: 18px;
      opacity: 0.7; }
    .menu li:hover a,
    .menu li.active a {
      background: transparent;
      opacity: 1; }
  section {
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
    height: 100vh; }
  .overwrap {
    width: 400%; } }
