/**
 * Bracket Styling
 */
/* Colors */
/* Theme */
/* Type */
/* grid */
.g1 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 8.33333%; }
  .g1:last-child {
    margin-right: 0; }

.g2 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 16.66667%; }
  .g2:last-child {
    margin-right: 0; }

.g3 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 25%; }
  .g3:last-child {
    margin-right: 0; }

.g4 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 33.33333%; }
  .g4:last-child {
    margin-right: 0; }

.g5 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 33.33333%; }
  .g5:last-child {
    margin-right: 0; }

.g6 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 50%; }
  .g6:last-child {
    margin-right: 0; }

.g7 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 58.33333%; }
  .g7:last-child {
    margin-right: 0; }

.g8 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 66.66667%; }
  .g8:last-child {
    margin-right: 0; }

.g9 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 75%; }
  .g9:last-child {
    margin-right: 0; }

.g10 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 83.33333%; }
  .g10:last-child {
    margin-right: 0; }

.g11 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 91.66667%; }
  .g11:last-child {
    margin-right: 0; }

.g12 {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 100%; }
  .g12:last-child {
    margin-right: 0; }

.gfull {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 100%; }
  .gfull:last-child {
    margin-right: 0; }

/* REsets from bootstrap */
/* base */
html,
body {
  background: #FFFFFF;
  color: #333333;
  padding: 0;
  margin: 0;
  font-family: "Helvatica Neue", Helvetica, Arial, sans-serif;
  zoom: 100%; }

/* BASIC RESETS */
* {
  box-sizing: border-box; }

a {
  color: #1D677E;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none;
    margin: 0;
    padding: 0; }

/**
 * Input Reset Styling
 */
input {
  display: block;
  width: 100%;
  padding: 15px 12px;
  font-size: 21px;
  line-height: 23px;
  color: #1e2222;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 2px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  input:focus {
    outline: 0; }

/**
 * Input Reset Styling
 */
.btn {
  display: block;
  padding: 15px 12px;
  margin-bottom: 0;
  width: 100%;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: 0;
  position: relative; }
  .btn:active,
  .btn:focus {
    outline: 0; }
  .btn.btn-fixed-bottom {
    position: fixed;
    bottom: 0;
    margin: 0 0 0 -10px;
    border-radius: 0;
    z-index: 99999; }
  .btn:hover {
    color: #f9f9f9;
    background-color: #1D677E;
    border-color: #155062; }
  .btn.btn-default {
    color: #f9f9f9;
    background-color: #155062;
    border-color: #155062; }
    .btn.btn-default:hover {
      outline: 0;
      color: #f9f9f9;
      background-color: #103f4d;
      border-color: #0c2e38; }

/* Elements */
/* navigation */
header {
  position: fixed;
  width: 100%;
  margin: 40px 0;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 9999; }
  header .navbar {
    background: #155062;
    color: #FFFFFF; }
    header .navbar .logo {
      display: block;
      width: 30px;
      margin: 7px auto 0;
      font-size: 26px;
      font-weight: 100; }

/* small padding underneath header*/
.header-pad,
.footer-pad {
  width: 100%;
  padding: 0;
  height: 50px; }

.footer-pad {
  height: 75px; }

/**
 * Setup Intro Styling
 */
.player {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px; }
  .player .player-avatar {
    background: #1472ad;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    padding: 10px 0 0;
    width: 55px;
    height: 56px;
    flex: 1;
    position: relative;
    z-index: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
  .player .player-meta {
    flex: 5;
    position: relative; }
    .player .player-meta .player-name,
    .player .player-meta .player-email {
      width: auto;
      display: block;
      margin: 0;
      padding: 3px 0 0 20px; }
    .player .player-meta .player-name {
      font-size: 18px;
      padding-top: 7px; }
    .player .player-meta .player-action {
      position: absolute;
      right: 0;
      top: 0;
      margin: 20px 10px 23px;
      opacity: 0.6; }
  .player:nth-child(odd) {
    background: #f9f9f9; }

/**
 * Setup Intro Styling
 */
.setup-intro {
  width: 100%;
  margin: 40px auto 0; }
  .setup-intro .row {
    display: none; }
  .setup-intro h3 {
    text-align: center;
    margin: 0 0 25px; }
  .setup-intro .setup-players {
    margin-top: 20px; }
  .setup-intro .setup-title {
    font-size: 18px;
    padding: 12px;
    width: 100%;
    display: block; }
  .setup-intro .show {
    display: block; }

/* Modules */
/* Pages */
/* Responsive */
/* responsive */
/* Mobile */
@media (max-width: 768px) {
  header {
    margin: 10px 0; }
  .menu li {
    padding: 0 2px;
    box-sizing: border-box; }
    .menu li a {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 4px 4px 0 0;
      padding: 5px 0;
      font-size: 14px;
      line-height: 18px;
      opacity: 0.7; }
    .menu li:hover a,
    .menu li.active a {
      background: transparent;
      opacity: 1; }
  section {
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
    height: 100vh; }
  .overwrap {
    width: 400%; } }
