/**
 * Avatar Styling
 */
.avatar {
  background: $darksecond; // NOTE: will be changed dynamically
  border:1px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  color:$white;
  text-align: center;
  font-size: 19px;
  font-weight: 100;
  padding:10px 0 0;
  width: 55px;
  /* height: 56px; */
  flex:1;
  position: relative;
  z-index: 1;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}
