/**
 * Create Championship Styling
 */
.create-championship {
  width: 100%;
  margin: 5px auto 0;

  .row {
    display: none;
  }

  h3 {
    text-align: center;
    margin: 0 0 25px;
  }

  .create-players {
    margin-top: 20px;
  }

  .create-title {
    font-size: 18px;
    padding: 12px;
    width: 100%;
    display: block;
  }

  .show {
    display: block;
  }
}
