/* navigation */
header {
  position: fixed;
  width: 100%;
  height: 62px;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  z-index: 9999999;

  .navbar {
    background: $darkmain;
    color: $white;
    height: 64px;
    margin:0;
  }

  .profile {
    position: absolute;
    left:20px;
    top: 13px;
    opacity: 0;
    -webkit-transition: opacity 220ms ease-in-out;
    transition: opacity 220ms ease-in-out;

    .avatar {
      width: 40px;
      padding: 6px 0 4px;
    }

    &.show {
      opacity: 1;
    }
  }

  .logo {
    display: block;
    width: 28px;
    margin: 20px auto 0;
    font-size: 26px;
    font-weight: 100;
  }

  .nav-action {
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 0;
    -webkit-transition: opacity 220ms ease-in-out;
    transition: opacity 220ms ease-in-out;

    &.show {
      opacity: 1;
    }

    .btn-action {
      color: #f4f4f4;
      line-height: 50px;
      padding: 0px 7px 4px;
      font: {
        size: 48px;
        weight: 100;
      }
    }
  }
}
