/* Overlay */
.overlay {
  background: $main;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  top:0;
  z-index: 999999;
  opacity: 0;
  -webkit-transition: opacity 160ms ease-in-out;
  transition: opacity 160ms ease-in-out;

  &.active {
    width: 100vw;
    height: 100vh;
  }
  &.visible {
    opacity: 0.8;
  }
}

.overlay-cover {

  .overlay-icon {}
}

.warp {
  height: 100vh;
  padding-top: 82px;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &.active {
    -webkit-filter: blur(15px);
    transform: translate3d(0, 0, 0);
  }
}
