/**
 * Setup Intro Styling
 */
.player {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    .player-meta {
      flex:5;
      position: relative;
    }

    &:nth-child(odd){
      background: $grey01;
    }
}
.player-meta {

  .player-name,
  .player-email {
    width: auto;
    display: block;
    margin: 0;
    padding: 3px 0 0 20px;
  }

  .player-name {
    font-size: 18px;
    padding-top: 7px;
  }
}

.player-action {
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  position: absolute;
  right:0;
  top:0;
  margin: 0;
  padding: 7px 10px 4px;
  width: auto;

  .glyphicon {
    opacity: 0.1;
  }
}
