/**
 * Setup Intro Styling
 */
.player {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    .player-avatar {
      background: $darksecond; // NOTE: will be changed dynamically
      border:1px solid rgba(0,0,0,0.3);
      border-radius: 50%;
      color:$white;
      text-align: center;
      font-size: 26px;
      font-weight: 100;
      padding:10px 0 0;
      width: 55px;
      height: 56px;
      flex:1;
      position: relative;
      z-index: 1;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    }

    .player-meta {
      flex:5;
      position: relative;

      .player-name,
      .player-email {
        width: auto;
        display: block;
        margin: 0;
        padding: 3px 0 0 20px;
      }

      .player-name {
        font-size: 18px;
        padding-top: 7px;
      }

      .player-action {
        position: absolute;
        right:0;
        top:0;
        margin: 20px 10px 23px;
        opacity: 0.6;
      }
    }


    &:nth-child(odd){
      background: $grey01;
    }
}
