/**
 * Setup Intro Styling
 */
.setup-intro {
  width: 100%;
  margin: 40px auto 0;

  .row {
    display: none;
  }

  h3 {
    text-align: center;
    margin: 0 0 25px;
  }

  .setup-players {
    margin-top: 20px;
  }

  .setup-title {
    font-size: 18px;
    padding: 12px;
    width: 100%;
    display: block;
  }

  .show {
    display: block;
  }
}
