/* base */
html,
body {
    background: $white;
    color: $black;
    padding:0;
    margin:0;
    font-family: $sans-serif;
    zoom: 100%;
}

/* BASIC RESETS */
* {
    box-sizing: border-box;
}

a {
    color: $main;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


.main-container {
  -webkit-transition: opacity 160ms ease-in-out;
  transition: opacity 160ms ease-in-out;
  opacity: 1;

  &.invisible {
    opacity: 0;
  }
}

.warp {
  height: 100vh;
  padding-top: 82px;
}
