/* responsive */

/* Mobile */
@media (max-width: 768px) {

    header {
        margin: 0;
    }

    .menu {

        li {
            padding: 0 2px;
            box-sizing: border-box;

            a {
                background: rgba(255,255,255,0.3);
                border-radius: 4px 4px 0 0;
                padding: 5px 0;
                font-size: 14px;
                line-height: 18px;
                opacity: 0.7;
            }

            &:hover,
            &.active {

                a {
                    background: transparent;
                    opacity: 1;
                }
            }
        }
    }

    // controls the overflow for mobile bracket scrolling
    section {
        overflow: hidden;
        padding: 20px 0;
        width: 100%;
        height: 100vh;
    }

    .overwrap {
        width: 400%;

        .bracket-col {
            // display: inline-block;
        }
    }
}
