/* bracket */
section {
    padding-right: 10px;
    padding-left: 10px;
}

.bracket-col1 {
    ul {

        li {

            &:nth-child(even){
                margin-bottom: 40px;
            }
        }
    }
}
.bracket-col2 {
    ul {

        li {
            margin: 30px 0 66px;
        }
    }
}
.bracket-col3 {
    ul {

        li {
            margin: 110px 0 132px;
        }
    }
}
.bracket-col4 {
    ul {

        li {
            margin: 250px 0;
        }
    }
}

.bracket-item {
    background: $darkyellow;
    border-radius: 5px;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
    margin: 0 15px 10px;
    position: relative;

    .number {
        color: rgba(0,0,0,0.3);
        font: normal 700 30px/34px $sans-serif;
        position: absolute;
        left: 5px;
        top: 6px;
        width: 20px;
        text-align: center;
    }
    .title {
        margin:0;
        padding: 10px 10px 10px 20px;
        text-align: right;
    }

    &.default {
        min-height: 48px;
    }
}
li:hover .bracket-item,
li.active .bracket-item {
    background: $yellow;
    color: $black;
}
li:hover .bracket-item.default,
li.active .bracket-item.default {
    background: $darkyellow;
    color: rgba(0,0,0,0.3);
    cursor: default;
}