/**
 * Input Reset Styling
 */
input {
    display: block;
    width: 100%;
    padding: 15px 12px;
    font-size: 21px;
    line-height: 23px;
    color: $grey08;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    &:focus {
        outline: 0;
    }
}
