/* navigation */
header {
    width: 100%;
    margin: 40px 0;
    padding-right: 10px;
    padding-left: 10px;

    .navbar {
        background: $yellow;
        .logo {
            display: block;
            width: 100px;
            margin: 0 auto;
        }
    }
}
