/* navigation */
header {
    width: 100%;
    margin: 40px 0;
    padding-right: 10px;
    padding-left: 10px;
}

.menu {

    li {

        a {
            display: block;
            padding: 15px 0;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
        }

        &:hover,
        &.active {

            a {}
        }
    }
}