/* grid */
$column: 48px !global;
$grid-columns: 12;

@function container-span($span: $span) {
    @if length($span) == 3 {
        $container-columns: nth($span, 3);
        @return $container-columns;
    } @else if length($span) == 2 {
        $container-columns: nth($span, 2);
        @return $container-columns;
    }

    @return $grid-columns;
}

@mixin span-columns($span: $columns of $container-columns) {
    $columns: nth($span, 1);
    $container-columns: container-span($span);

    display: inline-block;
    vertical-align: top;
    float: left;
    width: percentage($columns / $container-columns);
    
    &:last-child {
        margin-right: 0;
    }
}

.g1 {@include span-columns(1 of 12);}
.g2 {@include span-columns(2 of 12);}
.g3 {@include span-columns(3 of 12);}
.g4 {@include span-columns(4 of 12);}
.g5 {@include span-columns(4 of 12);}
.g6 {@include span-columns(6 of 12);}
.g7 {@include span-columns(7 of 12);}
.g8 {@include span-columns(8 of 12);}
.g9 {@include span-columns(9 of 12);}
.g10 {@include span-columns(10 of 12);}
.g11 {@include span-columns(11 of 12);}
.g12 {@include span-columns(12 of 12);}
.gfull {@include span-columns(12 of 12);}